* {
  display: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #22252c;
}

h2 {
  color: white;
  background: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}
.card {
  border: 1px solid white;
  padding: 20px;
  margin: 10px;
  background-color: #31363f;
  border-radius: 10px;
  min-height: '100px';
}

button {
  border: none;
  font-size: 30px;
  background: transparent;
  width: 100%;
  text-align: right;
  cursor: pointer;
}
